.game-button {
    font-size: 1rem;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: left 600ms cubic-bezier(.22, .9, .35, 1), top 600ms cubic-bezier(.22,.9,.35,1);
    will-change: left, top;
}